@use "@styles/_mixins" as mixins;

.roomsTable {
  width: 50rem;

  ul {
    padding: 0;
    margin: 0;
  }

  .tableHeader {
    @include mixins.flex_container(row, flex-start, center);
    gap: 4rem;
    height: 4rem;
    background-color: var(--color-gray);
    color: var(--color-white);

    p {
      margin: 0;
      text-align: center;
      padding: 0.5rem 0;
    }

    .name {
      width: 10rem;
    }

    .students {
      width: 7rem;
    }

    .subject {
      width: 6rem;
    }

    .manage {
      width: 10rem;
    }
  }

  .tableBody {
    max-height: 20.5rem;
    border: 0.15rem solid var(--color-gray);
    overflow-y: auto;

    .row {
      @include mixins.flex_container(row, flex-start, center);
      gap: 4rem;
      height: 4rem;

      &:not(:last-child) {
        border-bottom: 0.15rem solid var(--color-gray);
      }

      p {
        margin: 0;
        text-align: center;
        padding: 0.5rem 0;
      }

      .name {
        width: 10rem;
      }

      .students {
        width: 7rem;
      }

      .subject {
        width: 6rem;
      }

      .manage {
        width: 10rem;
      }
    }
  }
}
