@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.roomsTable {
  max-width: 50rem;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
  }

  .tableHeader {
    @include mixins.flex_container(row, flex-start, center);
    gap: 4rem;
    height: 4rem;
    background-color: var(--color-gray);
    color: var(--color-white);

    p {
      margin: 0;
      text-align: center;
      padding: 0.5rem 0;
    }

    .name {
      max-width: 10rem;
      min-width: 3rem;
      width: 100%;
    }

    .students {
      max-width: 7rem;
      min-width: 4rem;
      width: 100%;
    }

    .subject {
      max-width: 6rem;
      min-width: 4rem;
      width: 100%;
    }

    .manage {
      max-width: 10rem;
      min-width: 8rem;
      width: 100%;
    }
  }

  .tableBody {
    max-height: 20.5rem;
    border: 0.15rem solid var(--color-gray);
    overflow: auto;

    .row {
      @include mixins.flex_container(row, flex-start, center);
      gap: 4rem;
      height: 4rem;

      &:not(:last-child) {
        border-bottom: 0.15rem solid var(--color-gray);
      }

      p {
        margin: 0;
        text-align: center;
        padding: 0.5rem 0;
      }

      .name {
        max-width: 10rem;
        min-width: 3rem;
        width: 100%;
      }

      .students {
        max-width: 7rem;
        min-width: 4rem;
        width: 100%;
      }

      .subject {
        max-width: 6rem;
        min-width: 4rem;
        width: 100%;
      }
    }
  }

  @include responsives.resolution__tablet {
    max-width: 40rem;

    .tableHeader {
      gap: 2rem;

      p {
        font-size: 0.7rem;
      }

      .manage {
        padding-right: 1rem;
      }
    }

    .tableBody {
      .row {
        gap: 2rem;

        p {
          font-size: 0.7rem;
        }
      }
    }
  }

  @include responsives.resolution__tablet__s {
    max-width: 30rem;
  }

  @include responsives.resolution__mobile__l {
    max-width: 28rem;

    .tableHeader {
      gap: 1rem;
    }

    .tableBody {
      .row {
        gap: 1rem;
      }
    }
  }

  @include responsives.resolution__mobile__m {
    max-width: 25rem;

    .tableHeader {
      gap: 1rem;
    }

    .tableBody {
      .row {
        gap: 1rem;
      }
    }
  }

  @include responsives.resolution__mobile {
    max-width: 20rem;

    .tableHeader {
      gap: 0;
    }

    .tableBody {
      .row {
        gap: 0;
      }
    }
  }
}
