@use "@styles/_mixins" as mixins;
@use "@styles/_responsives" as responsives;

.studentsTable {
  max-width: 50rem;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
  }

  .tableHeader {
    @include mixins.flex_container(row, flex-start, center);
    background-color: var(--color-gray);
    color: var(--color-white);
    gap: 4rem;
    height: 4rem;

    p {
      margin: 0;
      text-align: center;
      padding: 0.5rem 0;
    }

    .name {
      max-width: 20rem;
      width: 100%;
    }

    .age {
      max-width: 4rem;
      width: 100%;
    }

    .gender {
      max-width: 10rem;
      width: 100%;
    }
  }

  .tableBody {
    max-height: 20.5rem;
    overflow-y: auto;
    border: 0.15rem solid var(--color-gray);

    .row {
      @include mixins.flex_container(row, flex-start, center);
      gap: 4rem;
      height: 4rem;

      &:not(:last-child) {
        border-bottom: 0.15rem solid var(--color-gray);
      }

      p {
        margin: 0;
        text-align: center;
        padding: 0.5rem 0;
      }

      .name {
        max-width: 20rem;
        width: 100%;
      }

      .age {
        max-width: 4rem;
        width: 100%;
      }

      .gender {
        max-width: 10rem;
        width: 100%;
        text-transform: capitalize;
      }
    }
  }

  &.showRoom {
    max-width: 55rem;

    .tableHeader {
      .room {
        max-width: 6rem;
        width: 100%;
      }
    }

    .tableBody {
      .row {
        .room {
          max-width: 6rem;
          width: 100%;
        }
      }
    }

    @include responsives.resolution__laptop__s {
      .tableHeader {
        .room {
          padding-right: 1rem;
        }
      }
    }

    @include responsives.resolution__mobile__m {
      .tableHeader {
        p {
          font-size: 0.7rem;
        }
      }

      .tableBody {
        .row {
          p {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  @include responsives.resolution__mobile__m {
    .tableHeader {
      gap: 2rem;

      .name,
      .gender {
        padding: 0.5rem 1rem;
      }
    }

    .tableBody {
      .row {
        gap: 2rem;

        .name,
        .gender {
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  @include responsives.resolution__mobile {
    .tableHeader {
      gap: 1rem;
    }

    .tableBody {
      .row {
        gap: 1rem;
      }
    }
  }

  @include responsives.resolution__mobile__s {
    .tableHeader {
      gap: 0;
    }

    .tableBody {
      .row {
        gap: 0;
      }
    }
  }
}
