@use "@styles/_mixins" as mixins;

.createButton {
  a {
    text-decoration: none;

    button {
      @include mixins.flex_container(row, center, center);
      gap: 0.5rem;
      background-color: var(--color-green);
      height: 3rem;
      width: 8rem;
      border-radius: 0.5rem;
      border: none;
      margin-bottom: 2rem;
      color: var(--color-gray);
      line-height: 1.5rem;

      span {
        line-height: 0.7rem;
      }

      &:hover {
        background-color: var(--color-yellow);
      }
    }
  }
}
