@use "@styles/_mixins" as mixins;

.errorContent {
  @include mixins.flex_container(column, center, center);
  position: relative;
  height: 20rem;
  width: 20rem;
  place-content: center;
  background: transparent;
  z-index: 100;
  background-color: var(--color-red);
  border-radius: 0.5rem;

  .text {
    @include mixins.flex_container(column, center, center);
    position: absolute;
    width: 20rem;
    color: var(--color-yellow);
  }

  .closeIcon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;

    svg {
      cursor: pointer;
    }
  }
}
