@use "@styles/_mixins" as mixins;

.roomsTable {
  width: 42rem;
  height: 24.75rem;
  border-left: 0.15rem solid var(--color-gray);
  overflow-y: scroll;

  .header {
    background-color: var(--color-gray);
    color: var(--color-white);
  }

  .row {
    @include mixins.flex_container(row, flex-start, center);
    gap: 4rem;
    border-bottom: 0.15rem solid var(--color-gray);
    height: 4rem;

    p {
      margin: 0;
      text-align: center;
      padding: 0.5rem 0;
    }

    .id {
      width: 4rem;
    }

    .name {
      width: 8rem;
    }

    .students {
      width: 5rem;
    }

    .manage {
      width: 10rem;
    }
  }
}
