@use "@styles/_mixins" as mixins;

.roomsTable {
  width: 42rem;
  max-height: 24.6rem;
  border: 0.15rem solid var(--color-gray);
  overflow-y: auto;

  .header {
    background-color: var(--color-gray);
    color: var(--color-white);
  }

  .row {
    @include mixins.flex_container(row, flex-start, center);
    gap: 4rem;
    height: 4rem;

    &:not(:last-child) {
      border-bottom: 0.15rem solid var(--color-gray);
    }

    p {
      margin: 0;
      text-align: center;
      padding: 0.5rem 0;
    }

    .id {
      width: 4rem;
    }

    .name {
      width: 8rem;
    }

    .students {
      width: 5rem;
    }

    .manage {
      width: 10rem;
    }
  }
}
