@use "@styles/_mixins" as mixins;

.roomDetails {
  @include mixins.flex_container(column, center, center);
  margin: 0 2rem;

  .name {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .subject {
    text-transform: capitalize;
  }
}
